/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
# Ignore all generated/storage files (tenant FS, attachments, caches, etc.)
/storage/**
!/storage/.gitignore
/src/storage/**
!/src/storage/.gitignore
/vendor
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
.env
.env.backup
.env.production
/src/.env
/src/.env.production
/src/.env.backup
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
my.cnf
!database/migrations/*.php
